# PostgresSql URL
DATABASE_URL="postgres://postgres:postgres@localhost:54320/zomboid_api"

# Redis URL
SECONDARY_DATABASE_URL="redis://localhost:63790"

# Front End URL
FRONT_END_URL="http://localhost:5174"
