# PostgresSql URL
DATABASE_URL="postgres://postgres:postgres@localhost:54320/zomboid_api"

# Redis URL
SECONDARY_DATABASE_URL="redis://localhost:63790"

# Authentication Package
ORIGIN_ALLOWED="http://localhost:3000,http://localhost:4173"
DISCORD_CLIENT_ID="5773984042616261408"
